.profile-image {
  text-align: center;
  padding: 10px;
  margin: 10px 0 0 0;
}

.profile-image > img{
  text-align: center;
  width: 100%;
  max-width: 250px;
}

.profile-label-company{
  font-weight: bold;
}

.profile-info{
  color: #464646;
  text-align: justify;
  font-weight: 300;
  font-size: 17px;
}
.profile-icon-parent{
  margin: 30px 0 0 0;
}
.profile-icon-section{
  display: block;
  height: 50px;
  margin: 0 15px;
}
.profile-icon{
  width: 30px !important;
  height: 30px !important;
  margin: 0 10px;
  float: left;
}
.profile-caption{
  float: left;
  margin: 6px;
  font-weight: 700;
  color: #464646;
  font-size: 14px;
  left: 62px;
  position: absolute;
}
.profile-caption-empty{
  float: left;
  margin: 6px;
  color: #9a9a9a;
  font-size: 14px;
}
.profile-icon-empty > div > span{
  text-transform: lowercase !important;
  color: #b5b5b5;
}
.profile-icon-empty > div > svg{
  fill: rgba(162, 162, 162, 0.870588) !important;
}

.profile-label-icon {
  margin: 3px 5px 0;
  display: inline-block;
  line-height: -10px;
}

.profile-content-inner{
  margin: 15px -3px;
}
